.card{
    background-color: rgb(10, 75, 136);
    border: 2px solid black;
    border-radius: 3%;
    padding: 2rem 0;
    width: 200px;
    color: white;
    

}

#cardlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.8rem;
    
}